Repository 2heal1/base-mf-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint --max-warnings 0

fix readme
  README.md
Due: prettier --list-different

add mfe-remote-1
  apps/host/src/bootstrap.tsx
  apps/host/src/components/Layout/Layout.tsx
  apps/host/src/components/MfeRemote_1Remote/index.tsx
  apps/host/src/global.d.ts
  apps/host/src/index.tsx
  apps/host/src/routing/constants.ts
  apps/host/src/routing/routes.tsx
  apps/host/versions.json
  apps/mfe-remote-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/public/favicon.ico
  apps/mfe-remote-1/public/index.html
  apps/mfe-remote-1/public/logo192.png
  apps/mfe-remote-1/public/logo512.png
  apps/mfe-remote-1/public/manifest.json
  apps/mfe-remote-1/public/robots.txt
  apps/mfe-remote-1/rsbuild.config.ts
  apps/mfe-remote-1/src/bootstrap.tsx
  apps/mfe-remote-1/src/components/AppProviders/index.tsx
  apps/mfe-remote-1/src/components/NavigationManager/index.tsx
  apps/mfe-remote-1/src/index.tsx
  apps/mfe-remote-1/src/react-app-env.d.ts
  apps/mfe-remote-1/src/routes/index.tsx
  apps/mfe-remote-1/src/setupTests.ts
  apps/mfe-remote-1/tsconfig.json
  apps/mfe-remote-1/versions.json
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

add mfe-remote-2
  apps/host/src/components/Layout/Layout.tsx
  apps/host/src/components/MfeRemote_2Remote/index.tsx
  apps/host/src/components/Sidebar/index.tsx
  apps/host/src/global.d.ts
  apps/host/src/routing/constants.ts
  apps/host/src/routing/routes.tsx
  apps/host/versions.json
  apps/mfe-remote-2/mfe-runtime-plugin.ts
  apps/mfe-remote-2/package.json
  apps/mfe-remote-2/public/favicon.ico
  apps/mfe-remote-2/public/index.html
  apps/mfe-remote-2/public/logo192.png
  apps/mfe-remote-2/public/logo512.png
  apps/mfe-remote-2/public/manifest.json
  apps/mfe-remote-2/public/robots.txt
  apps/mfe-remote-2/rsbuild.config.ts
  apps/mfe-remote-2/src/bootstrap.tsx
  apps/mfe-remote-2/src/components/AppProviders/index.tsx
  apps/mfe-remote-2/src/components/NavigationManager/index.tsx
  apps/mfe-remote-2/src/index.tsx
  apps/mfe-remote-2/src/react-app-env.d.ts
  apps/mfe-remote-2/src/routes/index.tsx
  apps/mfe-remote-2/src/setupTests.ts
  apps/mfe-remote-2/tsconfig.json
  apps/mfe-remote-2/versions.json
Due: prettier --list-different, eslint --max-warnings 0

add mfe-remote-1-child-1
  apps/host/src/components/Layout/Layout.tsx
  apps/host/src/components/Sidebar/index.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/favicon.ico
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/index.html
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/logo192.png
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/logo512.png
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/manifest.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/public/robots.txt
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/bootstrap.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/components/AppProviders/index.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/components/NavigationManager/index.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/index.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/react-app-env.d.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/routes/index.tsx
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/setupTests.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/tsconfig.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/versions.json
  apps/mfe-remote-1/src/bootstrap.tsx
  apps/mfe-remote-1/src/components/Layout/Layout.tsx
  apps/mfe-remote-1/src/components/Layout/styles.ts
  apps/mfe-remote-1/src/components/MfeRemote_1_Child_1Remote/index.tsx
  apps/mfe-remote-1/src/components/Sidebar/index.tsx
  apps/mfe-remote-1/src/global.d.ts
  apps/mfe-remote-1/src/routing/constants.ts
  apps/mfe-remote-1/src/routing/routes.tsx
  package.json
Due: prettier --list-different, eslint --max-warnings 0

change mui versinos
  apps/host/package.json
Due: prettier --list-different

add z-mfe-remote-3
  apps/host/rsbuild.config.ts
  apps/host/src/components/Sidebar/index.tsx
  apps/host/src/components/ZMfeRemote_3Remote/index.tsx
  apps/host/src/global.d.ts
  apps/host/src/routing/constants.ts
  apps/host/src/routing/routes.tsx
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/src/bootstrap.tsx
  apps/mfe-remote-2/package.json
  apps/z-mfe-remote-3/mfe-runtime-plugin.ts
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/public/favicon.ico
  apps/z-mfe-remote-3/public/index.html
  apps/z-mfe-remote-3/public/logo192.png
  apps/z-mfe-remote-3/public/logo512.png
  apps/z-mfe-remote-3/public/manifest.json
  apps/z-mfe-remote-3/public/robots.txt
  apps/z-mfe-remote-3/rsbuild.config.ts
  apps/z-mfe-remote-3/src/bootstrap.tsx
  apps/z-mfe-remote-3/src/components/AppProviders/index.tsx
  apps/z-mfe-remote-3/src/components/NavigationManager/index.tsx
  apps/z-mfe-remote-3/src/index.tsx
  apps/z-mfe-remote-3/src/react-app-env.d.ts
  apps/z-mfe-remote-3/src/routes/index.tsx
  apps/z-mfe-remote-3/src/setupTests.ts
  apps/z-mfe-remote-3/tsconfig.json
  apps/z-mfe-remote-3/versions.json
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

worked environment with 5 mfes
  apps/host/package.json
  apps/host/rsbuild.config.ts
  apps/host/src/components/Layout/Layout.tsx
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/routes/index.tsx
  apps/mfe-remote-1/src/components/Layout/Layout.tsx
  apps/mfe-remote-2/package.json
  apps/mfe-remote-2/src/routes/index.tsx
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/src/components/ExternalZMFERemote3Component/index.tsx
  apps/z-mfe-remote-3/src/routes/index.tsx
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

expose mfes and use shared components
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/global.d.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/routes/index.tsx
  apps/mfe-remote-2/rsbuild.config.ts
  apps/mfe-remote-2/src/components/ExternalMFERemote2Component/index.tsx
  apps/mfe-remote-2/src/global.d.ts
  apps/mfe-remote-2/src/routes/index.tsx
  apps/z-mfe-remote-3/rsbuild.config.ts
  apps/z-mfe-remote-3/src/components/ExternalZMFERemote3Component/index.tsx
  apps/z-mfe-remote-3/src/global.d.ts
  apps/z-mfe-remote-3/src/routes/index.tsx
Due: prettier --list-different, eslint --max-warnings 0

remove unnecessary files
  plopfile.cjs
Due: none

use mui in external-package-version-display
  README.md
  apps/host/public/index.html
  apps/host/public/manifest.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/components/ExternalMFERemote1Child1Component/index.tsx
  apps/mfe-remote-2/rsbuild.config.ts
  apps/mfe-remote-2/src/global.d.ts
  apps/mfe-remote-2/src/routes/index.tsx
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/src/routes/index.tsx
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

set required version to external package
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
Due: prettier --list-different, eslint --max-warnings 0

fix
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
Due: prettier --list-different, eslint --max-warnings 0

update readme
  README.md
Due: prettier --list-different

fix: use latest mf plugin
  apps/host/mfe-runtime-plugin.ts
  apps/host/package.json
  apps/host/rsbuild.config.ts
  apps/mfe-remote-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/rsbuild.config.ts
  apps/mfe-remote-2/mfe-runtime-plugin.ts
  apps/mfe-remote-2/package.json
  apps/mfe-remote-2/rsbuild.config.ts
  apps/z-mfe-remote-3/mfe-runtime-plugin.ts
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/rsbuild.config.ts
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

reproduce shared dependencies issue
  .gitignore
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/routes/index.tsx
  apps/mfe-remote-1/src/components/Layout/Layout.tsx
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/src/routes/index.tsx
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

fix
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/src/routes/index.tsx
Due: prettier --list-different, eslint --max-warnings 0

fix
  apps/z-mfe-remote-3/src/routes/index.tsx
Due: prettier --list-different, eslint --max-warnings 0

chore: fix issue
  apps/host/mfe-runtime-plugin.ts
  apps/host/package.json
  apps/host/rsbuild.config.ts
  apps/mfe-remote-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/rsbuild.config.ts
  apps/mfe-remote-1/rsbuild.config.ts
  apps/mfe-remote-2/mfe-runtime-plugin.ts
  apps/mfe-remote-2/package.json
  apps/mfe-remote-2/rsbuild.config.ts
  apps/z-mfe-remote-3/mfe-runtime-plugin.ts
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/rsbuild.config.ts
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

chore: bump rsbuild & mf
  apps/host/package.json
  apps/mfe-remote-1/package.json
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/package.json
  apps/mfe-remote-2/package.json
  apps/z-mfe-remote-3/package.json
  apps/z-mfe-remote-3/rsbuild.config.ts
  yarn.lock
Due: prettier --list-different, eslint --max-warnings 0

chore: remove runtime plugin
  apps/host/mfe-runtime-plugin.ts
  apps/mfe-remote-1/mfe-runtime-plugin.ts
  apps/mfe-remote-1/remotes/mfe-remote-1-child-1/mfe-runtime-plugin.ts
  apps/mfe-remote-2/mfe-runtime-plugin.ts
  apps/z-mfe-remote-3/mfe-runtime-plugin.ts
Due: prettier --list-different, eslint --max-warnings 0

Path conditions:
  prettier --list-different: (any of: *.{md,json}) or (any of: *.{js,ts,jsx,tsx})
  eslint --max-warnings 0: any of: *.{js,ts,jsx,tsx}
